@import "./icon.scss";
@import "./utils/weui.css";
@import "./utils/helper";

page {
  height: 1px;
  min-height: 100%;
  // display: block;
  font-size: getpx(24px);
  background-color: $background;
  // overflow-x: hidden;
  font-weight: 400;
  font-family:-apple-system-font, "PingFangSC", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
